@page "/my-articles"
@rendermode @(new InteractiveAutoRenderMode(true))
@inject NavigationManager NavigationManager
@inject IArticlesViewService ArticlesViewService
@attribute [Authorize]

<h3>My Articles</h3>
<PageTitle>My Articles</PageTitle>

@if (!string.IsNullOrEmpty(errorMessage))
{
    <p><span class="text-danger">@errorMessage</span></p>
}
@if (articles is null)
{
    <span><em>Loading articles...</em></span>
}
else if (articles.Count == 0)
{
    <span>No articles were found.</span>
}
else
{
<QuickGrid Items="articles.AsQueryable()">
    <PropertyColumn 
        Title="Title"
        Property="@(a => a.Title)" 
        Sortable="true" 
    />
    <TemplateColumn Title="Published">
        @if(context.IsPublished)
        {
            <span>✅</span>
        }
        else
        {
            <span>❌</span>
        }
    </TemplateColumn>
    <PropertyColumn 
        Title="Date Published"
        Property="@(a => a.DatePublished.ToString("yyyy-MM-dd HH:mm"))" 
        Sortable="true" 
    />
    <TemplateColumn Title="Action">
        <button @onclick="() => EditArticle(context.Id)" 
            class="p-2 text-sm font-bold tracking-wide rounded text-gray-50 bg-sky-600"
            hover: bg-blue-300
        >
            ✏️ Edit
        </button>
    </TemplateColumn>
        <TemplateColumn Title="Action">
            <button @onclick="() => TogglePublishArticle(context.Id)"
                    class="p-2 text-sm font-bold tracking-wide rounded text-gray-50 bg-sky-600"
                    hover: bg-blue-300>
               @(context.IsPublished ? "Unpublish" : "Publish")
            </button>
        </TemplateColumn>
</QuickGrid>
}

@code {
    private List<ArticleDto>? articles;
    private string errorMessage = string.Empty;
    protected override async Task OnInitializedAsync()
    {
        articles = await ArticlesViewService.GetArticlesByCurrentUserAsync();
        if (articles is null)
        {
            articles = [];
        }
    }
    private void EditArticle(int id)
    {
        NavigationManager.NavigateTo($"/article-editor/{id}");
    }
    private async Task TogglePublishArticle(int id)
    {
        Console.Write("TogglePublishArticle", id);
        var updatedArticle = await ArticlesViewService.TogglePublishArticleAsync(id);
        if (updatedArticle is null || articles is null)
        {
            errorMessage = "Failed to toggle article publication.";
            return;
        }
        var index = articles!.FindIndex(a => a.Id == id);
        if (index != -1)
        {
            articles[index] = (ArticleDto)updatedArticle;
            // Explicit refresh
            // StateHasChanged();
        }
    }
}
